.cell {
  border: 2px solid;
  font-family: Arial, sans-serif;
  height: 75px;
  width: 75px;
  cursor: pointer;
  font-size: 50px;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
}

#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;

}

#gameContainer {
  text-align: center;
}
#restartBtn{
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
}